:host {
  display: block;
  width: 100vw;
  min-height: 100vh;
}

.prog {
  position: fixed;
  left: 50%;
  top: var(--margin-m);
  transform: translateX(-50%);
}

#con-trigger {
  position: absolute;
  left: 0;
  top: 30%;
}
